.header-container {
  display: flex;
  align-items: center;
  height: 60px; /* Reduced header height */
  padding: 0 16px; /* Adjust padding as needed */
  background-color: transparent; /* Default background color */
  transition: background-color 0.3s; /* Smooth transition for background color */
  position: relative;
}

.header-dark {
  background-color: transparent; /* Dark mode background */
}

.header-light {
  background-color: transparent; /* Light mode background */
}

.fullscreen-toggle {
  margin-right: auto; /* Align to the left */
}

.theme-toggle {
  margin-left: auto; /* Pushes the theme toggle to the right */
  display: flex;
  align-items: center;
}

.user-menu {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 16px; /* Spacing between theme toggle and user menu */
}

.user-avatar {
  cursor: pointer;
}

.MuiMenu-paper {
  border-radius: 8px; /* Rounded corners */
  width: 260px; /* Adjusted width */
  max-height: 400px; /* Adjust max-height */
  right: 0; /* Align to right corner */
  top: 60px; /* Position below the header */
  position: absolute;
  transform: translateX(0%); /* Center menu horizontally relative to the right */
}

.MuiMenuItem-root {
  padding: 8px 16px; /* Adjusted padding */
  display: flex;
  align-items: center;
}

.MuiTabs-root {
  width: 100%; /* Full width of the dropdown */
}

.MuiTab-root {
  font-size: 12px; /* Reduced font size */
  min-width: auto; /* Prevents tabs from taking up too much space */
}

.MuiTab-root .MuiTab-icon {
  font-size: 16px; /* Reduced tab icon size */
}

.MuiMenuItem-root .MuiListItemIcon-root {
  min-width: 32px; /* Consistent icon size */
}
