/* Updated Sidebar.css */

/* Container styles */
.sidebar-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px; /* Default width */
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

.sidebar-container.closed {
  width: 40px; /* Collapsed width */
}

.sidebar-container.open:hover {
  background-color: var(--sidebar-hover);
}

/* Sidebar content */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toggle-button {
  position: absolute;
  top: 9px; /* Adjusted spacing from top */
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  margin-top: 10px; /* Add margin-top to adjust positioning */
}

.toggle-icon {
  font-size: 20px; /* Adjust icon size if needed */
}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.company-name {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  margin: 9px 0 30px; /* Adjusted margins for spacing */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Sidebar links */
.sidebar-links {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: var(--link-hover);
}

.sidebar-icon {
  font-size: 12px; /* Adjust icon size if needed */
  margin-right: 12px; /* Adjusted gap between icon and text */
}

.sidebar-link span {
  font-size: 14px; /* Adjusted text size */
  margin-left: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar-link:hover span {
  opacity: 1;
  transform: translateX(5px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar-container {
    width: 180px;
  }

  .sidebar-container.closed {
    width: 45px;
  }
}

@media (max-width: 480px) {
  .sidebar-container {
    width: 160px;
  }

  .sidebar-container.closed {
    width: 40px;
  }
}
